body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}


.main {
  flex: 1;
}
h1 {
    font-size: 5rem;
}
.tile-image {
    height: 200px;
    float:left;
    margin-right: 30px;
}

.card {
    width:45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.end {
    clear: both;
    text-align: right;
}

@media (max-width:680px) {
    .card {
        display: block;
        width:100%;
        margin-bottom: 30px;

    }

    .card .tile-image{
        display: inline;
        width: 100%;
        margin-bottom: 10px;
    }
}